body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
}

.bgd {
  
  overflow-y: hidden;
  padding-top: 200px;
  padding-bottom: 0px;
  background-image: url(http://static.tumblr.com/c0c9c88706ba794aab6d2dbeef9c9e4d/rbp1fh3/YBVnj13a4/tumblr_static_5i7eizwnzq4g4wkook04kgk8c.jpg);
  background-size:cover
}

.profile_pic {
  width: 220px;
  height: 220px;
  margin: 10px auto;
  border: 5px solid white;
  border-radius: 1000px;
  background-image: url(http://res.cloudinary.com/hrscywv4p/image/upload/c_fill,f_auto,g_faces:center,h_280,q_80,w_280/v1/300423/profilepic1_wf6teh.jpg);
  background-size: cover;  
}
.name {
  color: white;
  font-size: 50px; 
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}
.cid {
  color: powderblue;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}


.intro {
  color: white;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}



h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
}
#left,#right
{
width:240px,
height:180px;
margin-right: auto;
margin-bottom: auto;
margin-left: auto;
}
#left{float:left;}

.ll{
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 100px;
}

.bt1 {
  color:black;
  font-size: 100px; 
  margin-right: 100px;
  margin-bottom: 25px;
  margin-left: auto;
}
.bt2 {
  color:black;
  font-size: 100px; 
  margin-right: auto;
  margin-bottom: 25px;
  margin-left:auto;
}
#show_less,#show_more
{
width:240px,
height:180px;
}
#show_less{float:left;}
